<nav class="navbar navbar-dark black navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://drive.google.com/thumbnail?id=1ZZyx_ICPqQ23YA2dVES_Ge6KJLPwVyUP&sz=w1000" class="me-2" height="50" alt="" loading="lazy"/>
      <small>NovaPage</small>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item mx-2">
          <a class="nav-link d-flex align-items-center" [routerLink]="['/main']">
            <img src="https://drive.google.com/thumbnail?id=1LGoTmb_kMWbFYmkbSHLe7aXfC4nG4A7N&sz=w1000" class="me-2" height="40" alt="" loading="lazy">
            <span class="d-lg-none white">Inicio</span>
          </a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link d-flex align-items-center" [routerLink]="['/miperfil']">
            <img src="https://drive.google.com/thumbnail?id=1zJWDgJKxjGgRQSNYckd0WNYsho-oNJaU&sz=w1000" class="me-2" height="40" alt="" loading="lazy">
            <span class="d-lg-none white">Mi Perfil</span>
          </a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link d-flex align-items-center" [routerLink]="['/contact']">
            <img src="https://drive.google.com/thumbnail?id=12yjSA_CKQxr4M8iPzb_81XjvP-5ij7e4&sz=w1000" class="me-2" height="40" alt="" loading="lazy">
            <span class="d-lg-none white">Contacto</span>
          </a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link d-flex align-items-center" [routerLink]="['/portfolio']">
            <img src="https://drive.google.com/thumbnail?id=17WIwFv1HR9zN9bqo9dQn4Dq_V0uOa516&sz=w1000" height="40" alt="" loading="lazy">
            <span class="d-lg-none white">Portafolio</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

