<nav class="navbar navbar-dark black">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <!-- <img src="../assets/image/icon/NovaPage-ico.ico" class="me-2" height="50" alt="" loading="lazy"/> -->
      <img src="https://drive.google.com/uc?export=view&id=1ZZyx_ICPqQ23YA2dVES_Ge6KJLPwVyUP" class="me-2" height="50" alt="" loading="lazy"/>

      <small>NovaPage</small>
    </a>
    <ul class="navbar-nav flex-row">
      <li class="nav-item mx-2">
        <a class="nav-link" href="#">
          <!-- <img src="../assets/image/navbar/homenavbar-ligth.png" class="me-2" height="40" alt="" loading="lazy"> -->
          <img src="https://drive.google.com/thumbnail?id=1LGoTmb_kMWbFYmkbSHLe7aXfC4nG4A7N&sz=w1000" class="me-2" height="40" alt="" loading="lazy">
        </a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="#">
          <!-- <img src="../assets/image/navbar/usernavbar-ligth.png" class="me-2" height="40" alt="" loading="lazy"> -->
          <img src="https://drive.google.com/thumbnail?id=1zJWDgJKxjGgRQSNYckd0WNYsho-oNJaU&sz=w1000" class="me-2" height="40" alt="" loading="lazy">
        </a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="#">
          <!-- <img src="../assets/image/navbar/contactanosnavbar-ligth.png" class="me-2" height="40" alt="" loading="lazy"> -->
          <img src="https://drive.google.com/thumbnail?id=12yjSA_CKQxr4M8iPzb_81XjvP-5ij7e4&sz=w1000" class="me-2" height="40" alt="" loading="lazy">
        </a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="#">
          <!-- <img src="../assets/image/navbar/proyectosnavbar-ligth.png" class="me-2" height="40" alt="" loading="lazy"> -->
          <img src="https://drive.google.com/thumbnail?id=1zJWDgJKxjGgRQSNYckd0WNYsho-oNJaU&sz=w1000" class="me-2" height="40" alt="" loading="lazy">
        </a>
      </li>
    </ul>
  </div>
</nav>
